# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
sqa_final_project_venv/
venv/
env/
.env
.venv

# Testing
.pytest_cache/
.coverage
*.log
*.egg-info/
bank_account_transaction_file.txt
tests/actual_outputs/
validation_results.txt

# PyCharm / IDEs
.idea/
.vscode/

# Back End generated outputs
new_master_accounts.txt
new_current_accounts.txt